@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Baloo Bhai 2', cursive;
}

html,body{
  height: 100%;
  width: 100%;
  color: #e2ebfb;
}

body {
  width: 100%;
  height: 100%;
  background: #0c1022;
  overflow-y: auto;
}

header{
  height: 100%;
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #0F0F0F;
  color: #fff;
  overflow: hidden;
  z-index: 454335444;
}

.nav-bar .title img{
  border-radius: 50%;
  border: 2px solid #087DE8;
  /*box-shadow:  3px 3px 100px 100px #087DE8;*/
}

.nav-bar svg{
  width: 30px;
  height: 30px;
  fill: #fff;
}

.title svg{
  width: 30px;
  height: 20px;
}

.nav-bar .title{
  display: flex;
  align-items: center;
  padding: 5px;
}

#search{
  transition: 150ms ease-in-out;
}

#searchBox{
  background: #131313;
  height: 0;
  transition: 150ms ease-in-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 5;
}

#searchBox #queryBox{
  width: 75%;
  height: 50px;
  border-radius: 10px 0  0 10px;
  border: 2px solid #000;
  padding: 3px 8px;
  font-size: 1.1rem;
  border-right: 0;
}

#searchBox #searchBtn{
  border-radius: 0 10px 10px 0;
  height: 50px;
  border: 2px solid #000;
  font-size: 1.1rem;
  padding: 3px 8px;
  border-left: 0;
  background: #CFDDE9;
}

#searchBtn:hover{
  font-weight: bold;
  color: #057AE4;
  transition: 250ms;
}

#nav_menu{
  background: #0F0F0F;
  width: 0px;
  height: calc(100% - 70px);
  transition: 250ms;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#nav_menu-btn{
  transition: 150ms;
}

#main{
  height: calc(100% - 94px);
  overflow: auto;
}

#nav_menu a{
  padding: 20px 15px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid #848484;
}

#nav_menu a:hover{
  background: none;
  color: #03D2DF;
  transition: 300ms;
  
}

#body{
  height: calc(100% - 70px);
  overflow-y: auto;
  padding: 10px;
}

.topAnimes{
  column-gap: 10px;
  row-gap: 10px;
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fill,155px);
  justify-content: space-around;
}

  .cardBtn{
    border: none;
    background: none;
  }
  
  .animeCard{
    background: linear-gradient(45deg,
  #ff0000 0%, 
  #ff9a00 10%,
  #d0de21 20%,
  #4fdc4a 30%, 
  #3fdad8 40%,
  #2fc9e2 50%, 
  #1c7fee 60%, 
  #5f15f2 70%, 
  #ba0cf8 80%, 
  #fb07d9 90%, 
  #ff0000 100%  )
  repeat 0% 0% / 300% 100%;
    width: 153px;
    height: 214px;
    border-radius: 10px;
    animation: rgb 10s linear infinite;
  }
  
  .cardBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .cardBody img{
    width: 140px;
    height: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .cardTitle{
    background: #090909E0;
    width: 140px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
  }

  .readBtn{
    padding: 0.6rem 3rem;
    color: #e2ebfb;
    background-color: rgb(11, 110, 197);
    cursor: pointer;
    border-radius: 2rem;
}

.Mangainfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    
}

.mangainfo2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.704);
  flex-direction: column;
}


.Mangainfo{
  content:"";
  background: linear-gradient(45deg,
  #ff0000 0%, 
  #ff9a00 10%,
  #d0de21 20%,
  #4fdc4a 30%, 
  #3fdad8 40%,
  #2fc9e2 50%, 
  #1c7fee 60%, 
  #5f15f2 70%, 
  #ba0cf8 80%, 
  #fb07d9 90%, 
  #ff0000 100%  )
  repeat 0% 0% / 300% 100%;
  animation: rgb 15s linear infinite;
}

@keyframes rgb {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.Mangainfo .readBtn{
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.Mangainfo p{
    width: 90%;
    margin: auto;
    line-height: 16px;
    text-align: center;
    color: rgb(106, 119, 153);
}

.readBtn:hover{
    transition: 200ms ease-in-out;
    color: #000;

}
i{
    position: relative;
    top: 3px;
    font-size: 1.3rem;
}
.Mangainfo img{
    border-radius: 10px;
}

@media (min-width:600px) {
    .Mangainfo{
        width: 70%;
    }
}

#queryBox{
  color: #333;
}

.h3{
  font-weight: bolder;
  padding-left: 5px 1rem;
  text-align: center;
  text-decoration: underline;
}

#searchBtn{
  color: #333;
}


.desc{
  background-clip: text;
  -webkit-background-clip: text;
}

.login_form_container{
    position: relative;
    width: 400px;
    height: 470px;
    max-width: 400px;
    max-height: 470px;
    background: #040717;
    border-radius: 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 50px auto;
}
.login_form_container::before{
    
    position: absolute;
    width: 170%;
    height: 170%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #ee00ff);
    animation: rotate_border 6s linear infinite;

}
.login_form_container::after{
    
    position: absolute;
    width: 170%;
    height: 170%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
    animation: rotate_border 6s linear infinite;
    animation-delay: -3s;
}
@keyframes rotate_border{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.login_form{
    position: absolute;
    content: '';
    background-color: #0c1022;
    border-radius: 50px 5px;
    inset: 5px;
    padding: 50px 40px;
    
    color: #00ccff;

} 
h2{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.input_group{
    margin-top: 40px;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: start;
}
.input_text{
    width: 95%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #00ccff;
    font-size: 20px;
    padding-left: 10px;
    color: #00ccff;

}
::placeholder{
    font-size: 15px;
    color: #00ccff52;
    letter-spacing: 1px;

}
.fa{
    font-size: 20px;

}
#login_button{
    position: relative;
    width: 300px;
    height: 40px;
    transition: 1s;
    margin-top: 70px;


}
#login_button a{
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 2px;
    border: 1px solid #00ccff;
    border-radius: 50px;
    background-color: #0c1022;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_button a:hover{
  transition: 0.3s ease-in-out;
  color: #D3DCE4;
  background: #059FDD;
}

.fotter {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}
.fotter a{
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}
.glowIcon {
    text-shadow: 0 0 10px #00ccff;

}
